*.bak
/Hyprland/.config/clipse/tmp_files
./BTOP/.config/btop/btop.log
./leetcode/.leetcode/leetcode.toml
./leetcode/.leetcode/leetcode_secrets.toml
./mpd_karna/.mpd/mpdstate
./mpd_karna/.mpd/mpd.log
./mpd_karna/.mpd/mpd.pid
.install.sh.kate-swp
