configuration {
	modi: "window,ssh,drun,emoji";
	combi-modi: "drun,run,ssh";
matching: "fuzzy";
  width: 800;
	lines: 10;
	columns: 2;
	font: "SFNS Display 14";
	show-icons: true;
	icon-theme: "papirus";
	display-drun: "Search: ";
}
@theme "~/.config/hypr/rofi/themes/dt-center.rasi"
